<b>[{{$index + 1}}] Type:</b> Derived<br>
<input type="text" data-ng-model="field.name" class="form-control" placeholder="Name" ng-change="updateURI(field.name, $index)">
<p><em>{{field.uri}}</em></p>
<input type="text" data-ng-model="field.derivedValue" class="form-control" placeholder="Set derived value formula">
<p class="help-block">Sample <em><%= 4 %>*1.25</em>, where 4 is the index and should be a type number.</p>
<div class="row">
  <div class="col-md-2"><input type="text" class="form-control" placeholder="Prefix" ng-model="field.prefix"></div>
  <div class="col-md-2"><input type="text" class="form-control" placeholder="Postfix" ng-model="field.postfix"></div>
  <div class="clear"></div><br><br>
</div>
<p><label><input type="checkbox" ng-init="field.searchable = true" ng-model="field.searchable" value="true"> Searchable</label></p>
<div ng-if="field.searchable" class="row">
  <div class="col-md-2"><input type="text" class="form-control" placeholder="Min Value" ng-model="field.min"></div>
  <div class="col-md-2"><input type="text" class="form-control" placeholder="Max Value" ng-model="field.max"></div>
  <div class="clear"></div><br><br>
</div>

<a class="btn btn-danger" ng-click="removeField($index)"><i class="glyphicon glyphicon-remove"></i></a>
<hr>