<b>[{{$index + 1}}] Type:</b> Selection<br>
<input type="text" data-ng-model="field.name" class="form-control" placeholder="Name" ng-change="updateURI(field.name, $index)">

<p><em>{{field.uri}}</em></p>

<b>Selection Type:</b> <br>
<label class="radio-inline"><input type="radio" ng-model="field.selectiontype" value="single">
Single</label>
<label class="radio-inline"><input type="radio" ng-model="field.selectiontype" value="multiple">
Multiple</label>
<br/>
<br/>

<b>Selections:</b><br>
<div class="row" ng-repeat="selection in field.selections">
  <div class="col-md-3">{{selection.value}}</div>
  <div class="col-md-3">{{selection.label}}</div>
  <div class="col-md-3"><a class="btn btn-xs btn-danger" ng-click=""><i class="glyphicon glyphicon-remove"></i></a></div>
</div>
<div class="row">
  <div class="col-md-3"><input type="text" class="form-control" placeholder="value" ng-model="field.toAddValue"></div>
  <div class="col-md-3"><input type="text" class="form-control" placeholder="label" ng-model="field.toAddLabel"></div>
  <div class="col-md-3"><a class="btn btn-primary btn-xs" ng-click="addSelection($index, field.toAddValue, field.toAddLabel)"><i class="glyphicon glyphicon-add"></i> Add Selection</a></div>
</div><br>

<p><label><input type="checkbox" ng-init="field.searchable = true" ng-model="field.searchable" value="true"> Searchable</label></p>

<a class="btn btn-danger" ng-click="removeField($index)"><i class="glyphicon glyphicon-remove"></i></a>
<hr>