<b>[{{$index + 1}}] Type:</b> Text<br>
<input type="text" data-ng-model="field.name" class="form-control" placeholder="Name" ng-change="updateURI(field.name, $index)">
<p><em>{{field.uri}}</em></p>
<p><label><input type="checkbox" ng-init="field.searchable = false" ng-model="field.searchable" value="true"> Searchable</label></p>
<a class="btn btn-danger" ng-click="removeField($index)"><i class="glyphicon glyphicon-remove"></i></a>
<hr>