<fieldset>
    <!-- <div class="slider" min="{{field.min}}" max="{{field.max}}"> -->
<rzslider rz-slider-model="field.minval" rz-slider-floor="field.min" rz-slider-ceil="field.max" rz-slider-high="field.maxval" ng-init="field.minval=field.min;field.maxval=field.max" rz-slider-on-change="updateCriteria()"></rzslider>
    {{field.prefix}} {{field.minval | number}} {{field.postfix}} - {{field.prefix}} {{field.maxval | number}} {{field.postfix}}
    
    <br>
    <br>
    <div class="form-group">
      <label for="">Min Val</label>
      <input type="text" ng-model="field.minval" placeholder="Minval" ng-change="updateCriteria()" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Max Val</label>
      <input type="text" ng-model="field.maxval" placeholder="Maxval" ng-change="updateCriteria()" class="form-control">
    </div>

</fieldset>
