<div ng-repeat="field in fields track by $index">
    <div ng-if="field.type == 'text'" class="">
        <label class="control-label" for="">{{field.name}}</label>
        <div class="controls">
            <input type="text" data-ng-model="field.value" class="form-control" ng-disabled="!(authentication.isCreator() || authentication.isEditor())" required>
        </div>
    </div>
    <div ng-if="field.type == 'number'" class="">
        <label class="control-label" for="">{{field.name}}</label>
        <div class="controls">
            <input type="text" data-ng-model="field.value" class="form-control" ng-disabled="!(authentication.isCreator() || authentication.isEditor())" required>
        </div>
    </div>
    <div ng-if="field.type == 'derived'" class="">
        <label class="control-label" for="">{{field.name}}</label>
        <div class="controls" ng-bind-html="derive(field.derivedValue, $index)">
        </div>
    </div>
    <div ng-if="field.type == 'textarea'" class="">
        <label class="control-label" for="">{{field.name}}</label>
        <div class="controls">
            <textarea ckeditor type="text" data-ng-model="field.value" class="form-control" ng-disabled="!(authentication.isCreator() || authentication.isEditor())" required></textarea>
        </div>
    </div>
    <div ng-if="field.type == 'selection'" class="">
      <label class="control-label" for="">{{field.name}}</label>
      <div ng-if="field.selectiontype == 'single'">
        <label ng-repeat="selection in field.selections" class="radio-inline"><input data-ng-model="field.value" type="radio" name="{{selection.uri}}" ng-value="selection.value" ng-disabled="!(authentication.isCreator() || authentication.isEditor())" required>{{selection.label}}</label>
      </div>
      <div ng-if="field.selectiontype == 'multiple'">
        <label ng-repeat="selection in field.selections" class="radio-inline"><input data-ng-model="selection.selected" type="checkbox" name="{{selection.uri}}" ng-disabled="!(authentication.isCreator() || authentication.isEditor())" required>{{selection.label}}</label>
      </div>
    </div>
    <!-- <div ng-if="field.type == 'image'" class="">
        <label class="control-label" for="">{{field.name}}</label>
        <div>
            <img ng-src="uploads/{{field.value}}" ng-if="field.value" width="200" style="margin: 10px 0;" /><br>
            <div class="btn btn-primary btn-upload" upload-button method="POST" url="/upload" on-success="onSuccess(response, $index)" param="file" accept="image/jpeg, image/jpg" ng-disabled="!(authentication.isCreator() || authentication.isEditor())">Upload</div>
        </div>
    </div> -->
</div>
