<fieldset>
<div ng-if="field.type == 'selection'">
  <div ng-if="field.selectiontype == 'single'">
    <div class="checkbox" ng-repeat="selection in field.selections">
                        <label>
                          <input data-ng-model="selection.selected" ng-init="selection.selected = true" selected type="checkbox" ng-change="updateCriteria()" name="selection.uri">{{selection.label}}
                        </label>
                    <div ng-if="$last" ng-init="updateCriteria()"></div>
                    </div>
      <a ng-click="checkAll(field.selections);">Check All</a> | <a ng-click="unCheckAll(field.selections);">Uncheck All</a>
  </div>
  <div ng-if="field.selectiontype == 'multiple'">
    <div class="checkbox" ng-repeat="selection in field.selections">
                        <label>
                          <input data-ng-model="selection.selected" ng-init="selection.selected = true" type="checkbox" ng-change="updateCriteria()" name="selection.uri">{{selection.label}}
                        </label>
                        <div ng-if="$last" ng-init="updateCriteria()"></div>
                    </div>
                         <a ng-click="checkAll(field.selections)">Check All</a> | <a ng-click="unCheckAll(field.selections)">Uncheck All</a>
  </div>
</div>
</fieldset>

