<section data-ng-controller="CategoriesController">
    <div class="page-header">
        <h1>New Category</h1>
    </div>
    <pre>
    {{fields}}
    </pre>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" ng-change="updatePermalink(name, true)" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Permalink</label>
                    <div class="controls"> 
                        <div ng-if="permalink">{{permalink}}</div>
                        <div ng-if="!permalink || permalink == ''"><em>Please enter a name</em></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Fields</label>
                    <hr>
                    <div class="controls" ng-repeat="field in fields track by $index" ng-include="'modules/categories/views/fields/' + field.type + '.html'"></div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Add New Field</label>
                    <div class="controls">
                        <select class="form-control" ng-model="newfieldtype">
                          <option value="text">Text</option>
                          <option value="textarea">Textarea</option>
                          <option value="number">Number</option>
                          <option value="selection">Selection</option>
                          <option value="image">Image</option>
                          <option value="derived">Derived Value</option>
                        </select>
                        <a class="btn btn-default btn-xs" ng-click="addField(newfieldtype)">Add New Field</a>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>