<section data-ng-controller="CategoriesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="category.name"></h1>
		<p><a class="btn btn-default">Update Derived Values</a><em> If there are changes in the derived values, this will do a batch update and set all products to updated.</em></p>
		<p><em data-ng-bind="category.permalink"></em></p>
		<p>
			<b>Fields:</b>
			<div ng-repeat="field in category.fields track by $index">
				[{{$index + 1}}] {{field.name}} (<em data-ng-bind="field.uri"></em>) <small><em data-ng-bind="field.type"></em> <em data-ng-bind="field.selectiontype"></em></small><br>
				<div ng-if="field.selections" ng-repeat="selection in field.selections">
				&nbsp;&nbsp;&nbsp;&nbsp;<small><em>{{selection.label}}</em></small>
				</div>
			</div>
		</p>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == category.user._id))">
		<a class="btn btn-primary" href="/#!/categories/{{category._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="category.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="category.user.displayName"></span>
		</em>
	</small>
</section>
