  <div id="main-details" class="row">
    <div class="col-md-5">
      <div class="product-image" style="background-image: url(uploads/{{product.image}});">
      </div>
    </div>
    <div class="col-md-7">
      <h1 class="product-name">{{product.name}}</h1>
      <div>
        <small>
          <em class="">
            Created on
            <span data-ng-bind="product.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="product.user.displayName"></span>
          </em>
        </small>
        </div><br>
        <div ng-if="authentication.isCreator() || authentication.isEditor() || authentication.isApprover() || authentication.isAdmin()">
          <a class="btn btn-default btn-xs" href="/#!/products/{{product._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i> Edit Product
          </a>
          <!-- <a class="btn btn-default btn-xs" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
          </a> -->
        </div>
      <div>
        <h3>Sell Price: AUD {{product.sellprice | number:2}}</h3>
        <h5>Price: AUD {{product.price | number:2}}</h5>
        <div><span class="label label-{{setProductRowTag(product.status)}}">{{product.status}}</span></div><br>
      </div>

    </div>
  </div>
<!--   <pre>
{{product | json}}
</pre> -->
  <div class="clearfix"></div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="panel-title"><b>Description</b></h3><br>
      <div ng-bind-html="product.fields[2].description">
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="panel-title"><b>Specifications</b></h3><br>
      <div ng-bind-html="product.fields[3]['specifications']">
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="panel-title"><b>Gallery</b></h3><br>
      <div class="product-image" style="background-image: url(uploads/{{product.image}});">
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="panel-title"><b>Warranty &amp; Support</b></h3><br>
      <div ng-bind-html="product.fields[4]['warranty-support']">
      </div>
    </div>
  </div>