<section data-ng-controller="ProductsController" ng-init="findCategories()">
    <div class="page-header">
        <h1>New Product</h1>
    </div>
    <form class="form-horizontal" name="createProductForm" data-ng-submit="createProductForm.$valid && create()" novalidate>
        <div class="col-md-9">
                <div class="">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="">
                    <label class="control-label" for="category">Category</label>
                    <!-- <select ng-model="category" class="form-control" ng-options="category as category.name for category in categories" ng-change> -->
                    <select ng-model="category" class="form-control" ng-change="updateCategory()" required>
                        <option ng-repeat="category in categories" value="{{category.permalink}}">{{category.name}}</option>
                    </select>
                </div>
                <div ng-include="'modules/products/views/forms/product.html'">
                </div><br>
                <div class="">
                    <label class="control-label" for="">Image</label>
                    <div>
                        <img ng-src="uploads/temp/{{image}}" ng-if="image" width="200" style="margin: 10px 0;" /><br>
                        <div class="btn btn-primary btn-upload" upload-button method="POST" url="/upload" on-success="onSuccess(response, $index)" param="file" accept="image/jpeg, image/jpg, image/png" ng-disabled="!(authentication.isCreator() || authentication.isEditor())">Upload</div>
                    </div>
                </div><br>
                <div class="">
                    <label class="control-label" for="price">Price</label>
                    <div class="controls">
                        <input type="text" ng-change="updateSellPrice()" data-ng-model="price" id="price" class="form-control" placeholder="Price" required>
                    </div>
                </div>
                <div class="">
                    <label class="control-label" for="sellprice">Sell Price</label>
                    <div class="controls">
                        <input type="text" data-ng-model="sellprice" id="sellprice" class="form-control" placeholder="Sell Price" required>
                    </div>
                </div><br>
                
        </div>
        <div class="col-md-3">
            <div class="">
                        <label class="control-label" for="status">Status</label>
                        <div class="controls">
                            <select data-ng-model="status" id="status" class="form-control" required>
                              <option value="updated">Updated</option>
                            </select>
                        </div>
                    </div>
                    <div class=""><br>
                        <input type="submit" class="btn btn-default">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
        </div>
    </form>
</section>