<section data-ng-controller="ProductsController" data-ng-init="findOne();findCategories();">
    <div class="page-header">
        <h1>Edit Product - {{product.name}}</h1>
    </div>
    <form name="editProductForm" class="form-horizontal" data-ng-submit="editProductForm.$valid && update()" novalidate>
        <div class="col-md-8">
                    <div class="">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="product.name" id="name" class="form-control" placeholder="Name" required ng-disabled="!(authentication.isCreator()  || authentication.isEditor())">
                        </div>
                    </div>
                    <div class="">
                        <label class="control-label" for="category">Category</label>
                        <!-- <select ng-model="category" class="form-control" ng-options="category as category.name for category in categories" ng-change> -->
                        <select ng-model="product.category" class="form-control" ng-change="updateCategory()" disabled>
                            <option ng-repeat="category in categories" value="{{category.permalink}}">{{category.name}}</option>
                        </select>
                    </div>
                    <div ng-include="'modules/products/views/forms/product.html'">
                    </div><br>
                    <div class="" ng-init="productimageupdate = false;">
                        <label class="control-label" for="">Image</label>
                        <div>
                            <img ng-src="uploads/temp/{{product.image}}" ng-if="productimageupdate" width="200" style="margin: 10px 0; position: relative; top: 0; left: 0;" />
                            <img ng-src="uploads/{{product.image}}" ng-if="!productimageupdate" width="200" style="margin: 10px 0; position: relative; top: 0; left: 0;" /><br>
                            <div class="btn btn-primary btn-upload" upload-button method="POST" url="/upload" on-success="onSuccess(response, true)" param="file" accept="image/jpeg, image/jpg, image/png" ng-disabled="!(authentication.isCreator() || authentication.isEditor())">Upload</div>
                        </div>
                    </div><br>
                    <div class="">
                        <label class="control-label" for="price">Price</label>
                        <div class="controls">
                            <input type="text" ng-change="updateSellPriceU()" data-ng-model="product.price" id="price" class="form-control" placeholder="Price" required>
                        </div>
                    </div>
                    <div class="">
                        <label class="control-label" for="sellprice">Sell Price</label>
                        <div class="controls">
                            <input type="text" data-ng-model="product.sellprice" id="sellprice" class="form-control" placeholder="Sell Price" required>
                        </div>
                    </div><br>
        </div>
        <div class="col-md-4">
            <div class="">
                        <label class="control-label" for="status">Status: {{product.status}} </label>
                        <div class="controls">
                            <select data-ng-model="product.status" id="status" class="form-control" required ng-disabled="!(authentication.isCreator() || authentication.isEditor() || authentication.isApprover())">
                              <option value="updated" ng-if="authentication.isCreator() || authentication.isEditor()">Updated</option>
                              <option value="for approval" ng-if="authentication.isEditor()">For Approval</option>
                              <option value="approved"  ng-if="authentication.isApprover()">Approved</option>
                            </select>
                        </div>
                    </div>
                    <div class=""><br>
                        <input type="submit" value="Update" class="btn btn-default" ng-disabled="!(authentication.isCreator() || authentication.isEditor() || authentication.isApprover())">
                    </div><br>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><b>History</b></div>
                        <div class="panel-body">
                            <div ng-if="logs.length == 0">
                            No updates for this product
                            </div>
                            <div class="list-group" ng-if="logs.length > 0">
                            <small>
                              <a ng-href="#!/logs/{{log._id}}" class="list-group-item" ng-repeat="log in logs" tooltip="{{formatLog(log.details.updates)}}" tooltip-placement="left">
                                <img ng-src="{{log.user.providerData.picture}}" width="30" class="img-circle" />
                                <span ng-if="log.type == 'product_creation'">Created by <span class="label label-default">{{log.user.displayName}}</span> <em>{{updatedFormat(log.created)}}</em></span>
                                <span ng-if="log.type == 'product_update'">Updated by <span class="label label-default">{{log.user.displayName}}</span> <em>{{updatedFormat(log.created)}}</em></span>
                                <span ng-if="log.type == 'product_changestatus'"><span style="text-transform: capitalize">{{log.details.newValue}}</span> by <span class="label label-default">{{log.user.displayName}}</span> <em>{{updatedFormat(log.created)}}</em></span>
                              </a>
                            </small>
                            </div>
                        </div>
                    </div>
        </div>
    </form>
</section>