<section data-ng-controller="ProductsController" data-ng-init="find();findCategories();searchInit();">
    <div class="page-header">
        <b>Products</b>
        <a class="btn btn-default pull-right" href="#!/products/create" ng-if="(authentication.isCreator())">Add Product</a>
        <div class="clearfix"></div>
    </div>
    <!-- <pre>
        {{authentication | json}}
    </pre> -->
    <!-- <pre>
        {{products}}
    </pre> -->
    <!-- <pre style="position: fixed; z-index: 1; width: 1200px; height: 600px; left: 400px;">
        {{categories}}
    </pre> -->
    <!-- <pre style="position: fixed; z-index: 1; width: 1200px; height: 600px; left: 400px;">
        {{searchCriteria}}
    </pre> -->
    <!-- <pre>
    {{searchCategorySelected}}
    </pre> -->
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group">
                    <label for="">Search</label>
                    <div class="controls">
                      <input type="text" class="form-control" ng-model="searchText">
                    </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group">
                    <label for="">Categories</label>
                    <div class="checkbox" ng-repeat="category in categories">
                        <label>
                          <input type="radio" ng-model="searchCategorySelected.name" name="searchCategorySelected" value="{{category.permalink}}" ng-change="searchCategorySelectedChanged()" ng-click="go('/products/category/' + category.permalink);updateCriteria();"> {{category.name}}
                        </label>
                    </div>
                </div>
              </div>
            </div>

            <div ng-repeat="category in categories" ng-if="category.permalink == searchCategorySelected.name">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <div class="form-group" ng-init="columnsCollapsed = true">
                    <div ng-click="columnsCollapsed = !columnsCollapsed"><label for="">Columns</label><div class="pull-right"><i ng-if="columnsCollapsed" class="glyphicon glyphicon-chevron-down"></i><i ng-if="!columnsCollapsed" class="glyphicon glyphicon-chevron-up"></i></div></div>
                    <div collapse="columnsCollapsed">
                        <div class="checkbox">
                            <label >
                              <input ng-init="columns['image'].selected = false" data-ng-model="columns['image'].selected" type="checkbox" name="columnsImage">Image
                            </label>
                        </div>
                        <div class="checkbox">
                            <label >
                              <input ng-init="columns['price'].selected = true" data-ng-model="columns['price'].selected" type="checkbox" name="columnsPrice">Price
                            </label>
                        </div>
                        <div class="checkbox">
                            <label >
                              <input ng-init="columns['sellprice'].selected = true" data-ng-model="columns['sellprice'].selected" type="checkbox" name="columnsSellPrice">Sell Price
                            </label>
                        </div>
                        <div class="checkbox" ng-repeat="column in columns" >
                             <label >
                              <input data-ng-model="column.selected" type="checkbox"  name="columnsSelected">{{column.name}}
                            </label>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>

            <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" ng-init="priceCollapsed = true">
                        <div ng-click="priceCollapsed = !priceCollapsed"><label for="">Price</label><div class="pull-right"><i ng-if="priceCollapsed" class="glyphicon glyphicon-chevron-down"></i><i ng-if="!priceCollapsed" class="glyphicon glyphicon-chevron-up"></i></div></div>
                        <div class="controls" collapse="priceCollapsed">
                            <fieldset>
                                    <!-- <div class="slider" min="{{field.min}}" max="{{field.max}}"> -->
                                <rzslider rz-slider-model="sprice.minval" rz-slider-floor="sprice.min" rz-slider-ceil="sprice.max" rz-slider-high="sprice.maxval" ng-init="sprice.minval=sprice.min;sprice.maxval=sprice.max" rz-slider-on-change="updateCriteria()"></rzslider>
                                    AUD {{sprice.minval | number}} - AUD {{sprice.maxval | number}}
                                    <br>
                                    <br>
                                    <div class="form-group">
                                      <label for="">Min Val</label>
                                      <input type="text" ng-model="sprice.minval" placeholder="Minval" ng-change="updateCriteria()" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label for="">Max Val</label>
                                      <input type="text" ng-model="sprice.maxval" placeholder="Maxval" ng-change="updateCriteria()" class="form-control">
                                    </div>
                                    
                                </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" class="form-group" ng-init="sellPriceCollapsed = true">
                        <div ng-click="sellPriceCollapsed = !sellPriceCollapsed"><label for="">Sell Price</label><div class="pull-right"><i ng-if="sellPriceCollapsed" class="glyphicon glyphicon-chevron-down"></i><i ng-if="!sellPriceCollapsed" class="glyphicon glyphicon-chevron-up"></i></div></div>
                        <div class="controls" collapse="sellPriceCollapsed">
                            <fieldset>
                                    <!-- <div class="slider" min="{{field.min}}" max="{{field.max}}"> -->
                                <rzslider rz-slider-model="ssellprice.minval" rz-slider-floor="ssellprice.min" rz-slider-ceil="ssellprice.max" rz-slider-high="ssellprice.maxval" ng-init="ssellprice.minval=ssellprice.min;ssellprice.maxval=ssellprice.max" rz-slider-on-change="updateCriteria()"></rzslider>
                                    AUD {{ssellprice.minval | number}} - AUD {{ssellprice.maxval | number}}
                                    <br>
                                    <br>
                                    <div class="form-group">
                                      <label for="">Min Val</label>
                                      <input type="text" ng-model="ssellprice.minval" placeholder="Minval" ng-change="updateCriteria()" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label for="">Max Val</label>
                                      <input type="text" ng-model="ssellprice.maxval" placeholder="Maxval" ng-change="updateCriteria()" class="form-control">
                                    </div>
                                    
                                </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div ng-repeat="category in categories">
            <div class="panel panel-default" ng-repeat="field in category.fields" ng-if="category.permalink == searchCategorySelected.name &&  field.searchable">
                <div class="panel-body">
                    <div class="form-group" ng-init="field.collapsed = true">
                        <div ng-click="field.collapsed = !field.collapsed"><label for="">{{field.name}}</label><div class="pull-right"><i ng-if="field.collapsed" class="glyphicon glyphicon-chevron-down"></i><i ng-if="!field.collapsed" class="glyphicon glyphicon-chevron-up"></i></div></div>
                        <div class="controls" ng-include="'modules/products/views/forms/' + field.type + '.html'" collapse="field.collapsed"></div>
                    </div>
                </div>
            </div>
            </div>

        </div>
        <div class="col-md-10">
        <table id="products-table" class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" ng-change="selectDeselectAllProducts();" ng-model="productsSelectedAll" name="productsSelectedAll"></th>
                    <th ng-if="columns['image'].selected">Image</th>
                    <th><a ng-click="sortBy('name')">Name</a></th>
                    <th ng-repeat="column in columns track by $index" ng-show="column.selected"><a ng-click="sortBy(column.uri, $index);">{{column.name}}</a></th>
                    <th><a ng-click="sortBy('updated')">Updated</a></th>
                    <th ng-if="columns['price'].selected"><a ng-click="sortBy('price')">Price</a></th>
                    <th ng-if="columns['sellprice'].selected"><a ng-click="sortBy('sellprice')">Sell Price</a></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="product in filtered = ( products | filter : categoryFilter | filter : criteriaFilter | filter: searchText )" ng-class="setProductRowClass(product.status)" ng-init="updateCriteria();">
                    <td style="vertical-align: middle;">
                        <input data-ng-model="product.selected" type="checkbox"  name="productsSelected">
                    </td>
                    <td style="vertical-align: middle;" ng-if="columns['image'].selected">
                        <img ng-src="uploads/{{product.image}}" width="100" >
                    </td>
                    <td style="vertical-align: middle;">
                        <a data-ng-href="#!/products/{{product._id}}"><b>{{product.name}}</b></a> <span class="label label-{{setProductRowTag(product.status)}}">{{product.status}}</span>
                    </td>
                    <!-- <td ng-repeat="(key,value) in product.fields" ng-show="isColumnShown(value)" style="vertical-align: middle;">
                        <div ng-bind-html="formatField(value)"></div>
                    </td> -->
                    <td ng-repeat="column in columns track by $index" ng-show="column.selected">
                        <span ng-bind="getColumnValue(product, column.uri)"></span>
                        <!-- <a ng-click="sortBy(column.uri, $index);">{{column.name}}</a> -->
                    </td>
                    <td style="vertical-align: middle;">
                        {{updatedFormat(product.updated)}}
                    </td>
                    <td style="vertical-align: middle;" ng-if="columns['price'].selected">
                        {{product.price | number:2}}
                    </td>
                    <td style="vertical-align: middle;" ng-if="columns['sellprice'].selected">
                        {{product.sellprice | number:2}}
                    </td>
                    <td style="vertical-align: middle;">
                        <a ng-if="authentication.isCreator() || authentication.isEditor() || authentication.isApprover() || authentication.isAdmin()" class="btn btn-default btn-xs" href="/#!/products/{{product._id}}/edit">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                </tr>
            </tfoot>
        </table>
        <em>{{filtered.length}} Products</em><br><br>
        </div>
    </div>
<!--     <div class="alert alert-warning text-center" data-ng-hide="!products.$resolved || !products.length">
        <a href="/#!/products/create">Add product</a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!products.$resolved || products.length">
    	No Products yet, why don't you <a href="/#!/products/create">create one</a>?
    </div> -->
</section>