<div id="productbg">
</div>
<div id="productdetails" class="container">
<section data-ng-controller="ProductsController" data-ng-init="findOne();findCategories();">
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="#!/"><b>Home</b></a></li>
		  <li><a href="#!/products/category/{{product.category}}"><b>{{product.category}}</b></a></li>
		  <li class="active"><b>{{product.name}}</b></li>
		</ol>
	</div>

<!-- 	<pre>
	{{authentication | json}}
	</pre> -->
	<ng-include src="'/modules/products/views/productviews/' + product.category + '.html'"> </ng-include>
	<!-- <pre>
		{{product | json}}
	</pre> -->
	
</section>
</div>