<section data-ng-controller="LogsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Logs</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="log in logs" data-ng-href="#!/logs/{{log._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="log.created | date:'medium'"></span>
				by
				<span data-ng-bind="log.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="log.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!logs.$resolved || logs.length">
    	No Logs yet, why don't you <a href="/#!/logs/create">create one</a>?
    </div>
</section>