<section data-ng-controller="LogsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="log.name"></h1>
	</div>
	<pre>
	{{log.details | json}}
	</pre>
	<!-- <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == log.user._id))">
		<a class="btn btn-primary" href="/#!/logs/{{log._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div> -->
	<small>
		<em class="text-muted">
			Logged on
			<span data-ng-bind="log.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="log.user.displayName"></span>
		</em>
	</small>
</section>
