<section>
    <div class="page-header">
        <div class="row">
            <div class="col-md-3">
                <h1>Users</h1>
            </div>
            <div class="col-md-3 pull-right">
                <input class="form-control col-md-4" type="text" data-ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
            </div>
        </div>
    </div>
    <div class="list-group">
        <a data-ng-repeat="user in pagedItems" ng-click="setUser(user)" ui-sref="admin-users.view" class="list-group-item">
            <div class="col-md-1 text-center">
                <br><img ng-src="{{user.providerData.picture}}" class="img-circle" width="60"><br><br>
            </div>
            <div class="col-md-11">
                <h4 class="list-group-item-heading" data-ng-bind="user.displayName"></h4>
                <small class="list-group-item-text">
                    <span data-ng-bind="user.email"></span>
                </small>
                <br/>
                <small class="list-group-item-text">
                    Created: <span data-ng-bind="user.created | date:'medium'"></span>
                </small>
                <br/>
                <!-- <small class="list-group-item-text">
                    Provider: <span data-ng-bind="user.provider"></span>
                </small>
                <br/> -->
                <small class="list-group-item-text">
                    Roles: <span data-ng-bind="user.roles | json"></span>
                </small>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <pagination boundary-links="true"
                max-size="8"
                items-per-page="itemsPerPage"
                total-items="filterLength"
                ng-model="currentPage"
                ng-change="pageChanged()"></pagination>
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">

    </div>
</section>
