.breadcrumb {
  background-color: rgba(255,255,255,.1);
}
.breadcrumb a {
  color: #FFF;
}
.breadcrumb li.active {
  color: #000;
}

#main-details {
  color: #FFF;
}

#productbg{
  background-attachment: fixed;
  background-image: url(/images/1.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  margin-left: -15px;
  margin-right: -15px;
}
#productdetails {
  margin-top: -650px;
}

.product-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.product-name {
  margin-top: 120px;
  color: #FFF;
  font-size: 3em;
}

@media screen and (max-width: 980px){
  #productbg {
    height: 800px;
  }
  #productdetails{
    margin-top: -750px;
  }
  .product-image {
    height: 300px;
  }
  .product-name {
    margin-top: 30px;
  }
}

#productdetails .panel .panel-body {
  padding: 30px;
  line-height: 2;
}

#productdetails .panel .panel-body .panel-title {
  font-size: 2em;
}

#products-table {

}

#products-table thead a {
  cursor: pointer;
  text-decoration: none;
}